body {
  max-width: max-content;
  margin: auto;
}

.Header {
  color: white;
  background-color: #1F2937;
  max-width: max-content;
  margin: auto;
}

.flex-container {
  display: grid;
  max-width: max-content;
  margin: auto;
  grid-auto-flow: column;
  padding-bottom: 100px;

}

.Qoute {
  background-color: #E5E7EB;
  max-width: max-content;
  margin: auto;
  text-align: center;
  padding: 100px;

}


.flex-container-CTA {
  display: grid;
  width: 1000px;
  grid-auto-flow: column;
  margin: 100px;

}

img {
  border-radius: 25px;
  border: 2px solid blue;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.heroimage {
  width: 600px;
  height: 200px;
}

.CTA {
  background-color: #3882F6;
  max-width: max-content;
  margin: auto;
  text-align: center;
  border-radius: 5px
}

.hero2 {
  text-align: center;
}

.flex-head-container {
  max-width: max-content;
  margin: auto;
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  padding: 100px;


}

.topnav {
  max-width: max-content;
  margin: auto;
  color: white;

}

.copyright {
  background-color: #1F2937;
  color: white;
  text-align: center;
  padding: 20px;
}

a {
  color: grey;
}

.Hero-Secondary-Text {
  font-size: 18px;
}

button {
  color: white;
  background-color: #3882F6;
  border-radius: 25px;
}


.main-content {
  padding: 20px;
}

nav {
  display: flex;
  /* 1 */
  justify-content: space-between;
  /* 2 */
  padding: 1rem 2rem;
  /* 3 */

}

nav ul {
  display: flex;
  /* 5 */
  list-style: none;
  /* 6 */
}

nav li {
  padding-left: 1rem;
  /* 7! */
}